* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(236, 235, 222);
}
nav{
    width: 100%;
    display: block;
    background-color: #333;
    align-items: center;
    min-height: 8vh;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2vh;
    float: left;
    margin: 3vh;
    margin-left: 1vh;
}

.nav-links{
    float: right;
    padding: 3vh;
    padding-right: 0px;

}
.nav-links li{
    display: inline;
    list-style: none;
    text-align: center;
    padding:3vw;
    padding-top: 3.25vh;
    padding-bottom:3.25vh;
}

.nav-links li:hover{
    background-color: #689f38;
}

.nav-links li a{
    padding: 3vh;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: bold;
}