* {
    margin: 0px;
    padding: 0px;
}
.container{
    height:10em;
    background-color: lightcoral;
}
h1{
    font-size:1em ;
    padding:3em;
    line-height: 4em;
    background-color: lightseagreen;
}